<div class="row">
    <div class="card col s8 offset-s2">
        <div class="card-content">
            <span class="card-title">filtrer ajouter</span>
            <div class="row">
                <div class="col s10">
                    <input type="text" id="search" name="search" class="col s10"> &nbsp;
                    <a class="btn-floating btn-large waves-effect waves-light cyan" id="searchBtn"><i class="material-icons">search</i></a>
                </div>
                <div class="col s2">
                    <a class="btn-floating btn-large waves-effect waves-light green darken-1" id="addBtn"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card col s10 offset-s1">
        <div class="card-content">
            <span class="card-title">Résultats</span>
            <div class="row">
                <table class="striped">
                    <thead id="thead"></thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <h4>Ajouter un élément</h4>
        <div id="modalContainer"></div>
    </div>
    <div class="modal-footer">
        <a id="confirmAdd" class="modal-close waves-effect waves-green btn-flat">Valider</a>
        <a class="modal-close waves-effect waves-green btn-flat">Anuler</a>
    </div>
</div>