<div class="nav-wrapper cyan darken-2">
    <ul id="nav-mobile" class="hide-on-down">
        <li><a id="dashboard_nav">tableau de bord</a></li>
        <li><a id="car_nav">voitures</a></li>
        <li><a id="model_nav">Model</a></li>
        <li><a id="user_nav">Utilisateur</a></li>
        <li><a id="reservation_nav">Reservations</a></li>
        <li><a id="group_rights_nav">Groups et droits</a></li>
    </ul>
</div>